/* promo */
.ec-hd__promo--wrapper {
  padding: var(--spacing) 0;
}
.ec-hd__promo--bf span {
  transform: rotate(-5deg);
  display: inline-block;
  padding: .4em;
  margin-right: .5em;
}
.ec-hd__promo--ds span {
  margin: 0 .25em;
}
.ec-hd__promo--close {
  background: rgba(255,255,255,.15);
  margin-right: var(--spacing);
  width: 25px;
  height: 25px;
}

/* header */
.content--up,
.content--dw {
  padding: var(--spacing) 1em;
}
.content--up__title {
  flex-grow: 1;
}
.content--up__sc {
  margin-right: calc(var(--spacing) * 2);
}
.content--up__sc,
.content--up__sc ul {
  gap: 10px;
}
.content--up__st select {
  color: var(--white);
}
.content--up__st select option {
  border-radius: none;
  padding: var(--spacing);
  color: var(--dark);
}
.content--up__st select option:checked{
  color: var(--orange);
}
.ec-header__search {
  flex-grow: 1;
  max-width: 50%;
  margin: auto;
  padding: 0 .5em;
}
.ec-header__search form {
  width: 95%;
}
.ec-header__search form input {
  padding: .5em 0;
  width: 100%;
  border: none;
}
.ec-header__icons {
  gap: 20px;
}

/* main nav */
.ec-main-nav {
  gap: calc(var(--spacing) * 3);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 9999;
  border-bottom: 1px solid var(--grey);
}
.ec-main-nav select {
  background-color: var(--grey);
  padding: calc(var(--spacing) / 2);
}
.ec-main-nav ul {
  gap: var(--spacing);
}
.ec-main-nav p {
  justify-content: flex-end;
  flex-grow: 1;
}

/* slider */
.ec-slider  {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.ec-slider article {
  border-radius: 5px;
}
.ec-slider article:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.ec-slider .text-wrapper {
  flex: 0 1 50%;
  flex-wrap: wrap;
  gap: calc(var(--spacing) / 2);
}
.ec-slider .text-wrapper > * {
  flex:0 1 100%;
}
.ec-slider .image {
  flex: 0 1 50%;
}
.ec-slider button {
  max-width: 180px;
}
.ec-slider .pager ul {
  gap: 10px;
  justify-content: flex-start;
}
.ec-slider .pager ul li a {
  background-color: var(--gray);
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.ec-slider .pager ul li a.active {
  background-color: var(--dark);
}
.ec-slider__1 .image figure {
  max-width: 300px;
}
.ec-slider__1 .image .price {
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  top: 1em;
  right: 1em;
}
.ec-slider__1 .pager {
  position: relative;
  top: 1em;
}
.ec-slider__2 {
  align-items: center;
}
.ec-slider__2 .image {
  align-self: self-end;
}
.ec-slider__2 .image span {
 top: 5%;
 right: 1em;
}
.ec-slider__2 figure {
  min-width: 200px;
}
.ec-benefits .separator {
  width: 1px;
  height: 30px;
  background: var(--gray);
}

/* deals */
.ec-deals__header {
  align-items: baseline;
  gap: 30px;
}
.ec-deals__header .date {
  flex-grow: 1;
}
.ec-deals__header .date span {
  margin-left: 1em;
}
.ec-deals__header button {
  background: none;
}
.ec-deals__deals {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(200px, 1fr));
  border: 1px solid var(--grey);
  gap: 0;
}
.ec-deals__deals article {
  flex-wrap: wrap;
  border: 1px solid var(--grey);
}
.ec-deals__deals article > * {
  flex: 0 1 100%;
}
.ec-deals__deals article:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-width: 250px;
}
.ec-deals__deals article:nth-child(1) figure {
  max-width: 100%;
}
.ec-deals__deals article figure {
  max-width: 70%;
  margin: auto;
}
.ec-deals__deals article .price {
  justify-content: flex-start;
  color: var(--light-blue);
}
.ec-deals__deals article .price .before {
  color: var(--gray);
  text-decoration: line-through;
}
.ec-deals__deals .add-to-cart {
  align-items: stretch;
}
.ec-deals__deals .add-to-cart > span {
  background-color: #ffecdc;
  flex-grow: 1;
  justify-content: center;
  border-radius: 2px;
}
.ec-deals__deals article:hover {
  border-color: var(--light-blue);
}

/* news */
.ec-news h2 {
  text-align: center;
}
.ec-news__wrapper {
  gap: 40px;
  margin-bottom: 2em;
}
.ec-news .info {
  justify-content: flex-start;
  gap: 30px;
}
.ec-news article {
  box-shadow: 0 0 15px -5px var(--gray);
}

/* subscribe */

.ec-subscribe {
  text-align: center;
}
.ec-subscribe__wrapper {
  max-width: 600px;
  margin: 2em auto;
}
.ec-subscribe p {
  opacity: .6;
}
.ec-subscribe form {
  flex-grow: 1;
}
.ec-subscribe input {
  width: 100%;
}
.ec-subscribe .brands {
  width: 80%;
  margin: auto;
  border-top: 1px solid rgba(255,255,255,.15)
}
.ec-subscribe .brands figure {
  flex: 0 1 18%
}
.ec-subscribe .brands figure img {
  opacity: .4;
  filter: invert(1);
}

/* footer */

.ec-footer__wrapper {
  align-items: flex-start;
}
.ec-footer__wrapper .info .logo {
  margin-bottom: 1em;
}
.ec-footer__wrapper .info address {
  font-style: normal;
}
.ec-footer__wrapper .info address .phone {
  margin-bottom: .5em;
}
.ec-footer__wrapper ul {
  padding: 1em 0;
}
.ec-footer__wrapper ul li {
  padding: .25em 0;
}
.ec-footer__wrapper .apps p {
  margin-top: 1em;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 3px;
}
.ec-footer__wrapper .tags {
  flex: 0 1 25%;
}
.ec-footer__wrapper .tags__wrapper {
  flex-flow: row wrap;
  gap: 5px;
}
.ec-footer__wrapper .tags__wrapper > div {
  flex: 1 auto;
  text-align: center;
}
.ec-footer__wrapper .tags__wrapper > div a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: var(--gray);
  border: 1px solid var(--gray);
}


/* responsive */
/* ========== */
@media (max-width: 992px) {
  .ec-hd__promo--wrapper {
    max-width: 80%;
  }
  .ec-main-nav ul {
    display: none;
  }
  .ec-slider .image {
    flex: 0 1 50%;
    padding: 0;
  }
  .ec-deals__header {
    flex-flow: row wrap;
    gap: 20px;
  }
  .ec-deals__deals {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(200px, 1fr));
  }
  .ec-deals__deals article:last-child {
    display: none;
  }
  .ec-news__wrapper {
    flex-wrap: wrap;
  }
  .ec-news article {
    flex-grow: 1;
  }
  .ec-news article img {
    width: 100%;
  }
  .ec-footer__wrapper {
    padding: 0;
    flex-wrap: wrap;
  }
  .ec-footer__wrapper .tags {
    display: none;
  }
}
@media (max-width: 768px) {
  .ec-hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 1px 5px var(--grey);
  }
  .ec-hd__promo,
  .ec-hd .content--up,
  .ec-header__search,
  .ec-header__icons,
  .ec-main-nav {
    display: none;
  }
  .ec-hd .burger {
    display: block;
  }
  .ec-page {
    margin-top: 70px;
    padding: 1em;
  }
  .ec-slider {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .ec-slider article:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: auto;
  }
  .ec-slider article:nth-child(2) {
    grid-row: 3 / 4;
  }
  .ec-slider article:nth-child(3) {
    grid-row: 4 / 5;
  }
  .ec-slider article .image figure {
    max-width: 70%;
    margin: auto;
  }
  .ec-slider__2 .text-wrapper,
  .ec-slider__3 .text-wrapper {
    flex-grow: 1;
  }
  .ec-slider__2 .image,
  .ec-slider__3 .image {
    flex: 0 1 30%;
  }
  .ec-benefits {
    display: none;
  }
  .ec-footer__wrapper .enlaces {
    display: none;
  }
}

@media (max-width: 576px) {
  .ec-footer .categorias,
  .ec-footer .apps   {
    display:none;
  }
  .ec-deals__deals {
    grid-template-columns: repeat(1, 1fr);
  }
  .ec-subscribe__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
  .ec-subscribe .subscribe {
    margin: 1em 0
  }
  .ec-subscribe .brands {
    width: 100%;
}
  .ec-footer__wrapper {
    flex-flow: row wrap;
  }
  .ec-footer__wrapper .info {
    flex: 0 1 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
  }
}
